<!DOCTYPE html>
<HTML>
  <HEAD>
    <TITLE>DIVERSIFIED PRACTICE MANAGER</TITLE>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0" />

    <!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </HEAD>
  <BODY>
    <DIV id="app"><%-reactComponent-%></DIV>
    <!-- uncomment below if you're in production -->
    <link rel="stylesheet" href="/style.css" type="text/css"  />
    <script src="/bundle.js"></script>
  </BODY>
</HTML>
