<!DOCTYPE html>
<HTML>
  <HEAD>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Geolocator JS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/geolocator.css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>

    <script type="text/javascript" src="/geolocator/geolocator.js"></script>
    <script type="text/javascript" src="/geolocator.js"></script>    
  </HEAD>
 <body>
 
    <DIV id="app"></DIV>
    <!-- uncomment below if you're in production -->
    <script src="/bundle.js"></script>
    <link rel="stylesheet" href="/style.css" type="text/css"  />
    
    <br />
    <br />

</body>
</HTML>
