body {
  margin-top: 70px;
  margin-bottom: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

/* React Bootstrap Table */

#clientList-buttons {
  margin-bottom: 5px;
}

#clientList-inline-button {
  padding: 0px 0px;
  border-width: 0px;
}

.pagination {
  margin: 0px 0px;
}

.panel-heading {
  font-weight: bold;
}

/* Google Maps */
#map {
height: 500px;
width: 100%;
}