body {
  margin-top: 70px;
  margin-bottom: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Status Messages */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

/* Merge List */

.-merge-count {
  text-align: center;
}

.-merge-count.-selected {
  background-color: lightslategray;
}

/* Client List */

#clientList-buttons {
  margin-bottom: 5px;
}

#clientList-inline-button {
  padding: 0px 0px;
  border-width: 0px;
}

.pagination {
  margin: 0px 0px;
}

.panel-heading {
  font-weight: bold;
}

/* Google Maps */
#map {
height: 500px;
width: 100%;
}