body {
  margin-top: 70px;
  margin-bottom: 50px;
}

#clientList-buttons {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* hack to align pagination button */
#clientList-inline-button {
  padding: 0px 0px;
  border-width: 0px;
}

.pagination {
  margin: 0px 0px;
}

.panel-heading {
  font-weight: bold;
}

/* Google Maps */
#map {
height: 500px;
width: 100%;
}